extends layout

block content
	.about.form-horizontal
		.form-group
			.col-sm-9(style="text-align:center")
				h3 Thông tin về Website
		.form-group
			label.control-label.col-sm-3 Người thiết kế
			.col-sm-4
				p.form-control(style="border:none") Phạm Đăng Vinh
		.form-group
			label.control-label.col-sm-3 Liên lạc qua điện thoại
			.col-sm-4
				p.form-control(style="border:none") 01674428837
		.form-group
			label.control-label.col-sm-3 Liên lạc qua email
			.col-sm-4
				p.form-control(style="border:none") vinhphamdang12@gmail.com
		.form-group
			label.control-label.col-sm-3 Facebook
			.col-sm-4
				p.form-control(style="border:none") www.facebook.com.vn/phamdangvinh92
		.form-group
			label.control-label.col-sm-3 Liên lạc trực tiếp
			.col-sm-4
				p.form-control(style="border:none") 802, B04, Ktx Khu B ĐH Quốc Gia HCM
		.form-group
			.col-sm-3
			.col-sm-9
				iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.0275976176451!2d106.78284319360698!3d10.883406594580086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d8a5f4e477e9%3A0x29d5aeb365cee20b!2zS8O9IHTDumMgeMOhIGtodSBBIMSQSFFHLUhDTQ!5e0!3m2!1svi!2s!4v1434299940557" width="600" height="450" frameborder="0" style="border:0")