extends layout

block content
	script(src="/js/account_user.js")
	script(src="/js/import_user.js")
	script(src="/dist/cpexcel.js")
	script(src="/dist/ods.js")
	script(src="/dist/xlsx.full.min.js")
	script(src="/dist/jszip.js")
	script(src="/dist/shim.js")
	p Nhập file người chơi(file xlsx,xls)
	input.btn.btn-default.xlfile(type="file",name="xlfile",id="xlf")
	h3 Danh sách Bệnh Nhân
	div.button-control
		//- button.btn.btn-default(data-toggle="modal" data-target="#myModal" style="padding-left:10px;") New
		button.btn.btn-default.edit(data-toggle="modal" data-target="#edit" style="padding-left:10px;") Edit
		button.btn.btn-default.delete(id="button") Delete
	table.table.table-hover.table-admin.display(cellspacing="0" width="100%")
		thead
			tr
				th Họ tên
				th Email
				th Địa chỉ
				th SĐT
				th Ngày Sinh
				th Giới tính
				th CMND
				th Tỉnh thành
				th Ngày tạo
	#myModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					h3.modal-title(style="text-align:center") Thêm Bệnh nhân
				.modal-body
					.form-horizontal
						.form-group
							label.control-label.col-sm-3 Họ và tên
							.col-sm-9
								input.form-control(name="fullname" type="text" placeholder="Họ và tên")
						.form-group
							label.control-label.col-sm-3 Email
							.col-sm-9
								input.form-control(id="email" name="email" type="text" placeholder="Email")
						.form-group
							label.control-label.col-sm-3 Mật khẩu
							.col-sm-9
								input.form-control(name="password" type="password" placeholder="Password")
						.form-group
							label.control-label.col-sm-3 Địa chỉ
							.col-sm-9
								textarea.form-control(name="address" rows="3")
						.form-group
							label.control-label.col-sm-3 SĐT
							.col-sm-9
								input.form-control(name="phone" type="number")
						.form-group
								label.control-label.col-sm-3 Ngày sinh
								.col-sm-9
									input.form-control( type="text" name="birthday" id="birthday")
						.form-group
							label.control-label.col-sm-3 Giới tính
							.col-sm-9
								select.form-control(name="gender")
									option(selected="selected") Chọn giới tinh
									option(value="Nam") Nam
									option(value="Nữ") Nữ
						.form-group
							label.control-label.col-sm-3 CMND
							.col-sm-9
								input.form-control(name="indentification" type="number" placeholder="CMND")
						.form-group
							label.control-label.col-sm-3 Tỉnh thành
							.col-sm-9
								input.form-control(name="country" type="text" placeholder="Tỉnh thành")
				.modal-footer
						.form-group
							input.btn.btn-primary( id="add-admin" type="submit" value="Lưu")
							button.btn.btn-default(data-dismiss="modal") Thoát
	#edit.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
		.modal-dialog
			.modal-content
				.modal-header
					h3.modal-title(style="text-align:center") Sửa bệnh nhân
				.modal-body
					.form-horizontal
						.form-group
							label.control-label.col-sm-3 Họ và tên
							.col-sm-9
								input.form-control(name="edit-fullname" type="text" placeholder="Họ và tên")
						.form-group
							label.control-label.col-sm-3 Email
							.col-sm-9
								input.form-control.edit-email(name="edit_email" type="text" placeholder="Email")
						.form-group
							label.control-label.col-sm-3 Địa chỉ
							.col-sm-9
								textarea.form-control(name="edit-address" rows="3")
						.form-group
							label.control-label.col-sm-3 SĐT
							.col-sm-9
								input.form-control(name="edit-phone" type="number")
						.form-group
							label.control-label.col-sm-3 Ngày sinh
							.col-sm-9
								input.form-control(name="edit-birthday" id="edit-birthday" type="text")
						.form-group
							label.control-label.col-sm-3 Giới tính
							.col-sm-9
								select.form-control(name="edit-gender")
									option(selected="selected") Chọn giới tinh
									option(value="Nam") Nam
									option(value="Nữ") Nữ
						.form-group
							label.control-label.col-sm-3 CMND
							.col-sm-9
								input.form-control(name="edit-indentification" type="number" placeholder="CMND")
						.form-group
							label.control-label.col-sm-3 Tỉnh thành
							.col-sm-9
								input.form-control(name="edit-country" type="text" placeholder="Tỉnh thành")							
				.modal-footer
						.form-group
							input.btn.btn-primary( id="edit-admin" type="submit" value="Lưu")
							button.btn.btn-default(data-dismiss="modal") Thoát