extends layout

block content
	script(src="/js/change-password.js")
	form#change.form-horizontal(style="margin-top:150px;margin-left:100px")
		.form-group
			label.control-label.col-sm-3 Nhập mật khẩu củ
				span(style="color:red") (*)
			.col-sm-5
				input.form-control(name="old_password" type="password" placeholder="Password củ")
		.form-group
			label.control-label.col-sm-3 Nhập mật khẩu mới
				span(style="color:red") (*) 
			.col-sm-5
				input.form-control(name="new_password" id="password" type="password" placeholder="Password mới")
		.form-group
			label.control-label.col-sm-3 Nhập lại mật khẩu
				span(style="color:red") (*) 
			.col-sm-5
				input.form-control(name="confirm_password" type="password" placeholder="Nhập lại password")
	.form-group
		.col-sm-3
		.col-sm-4
			button.btn.btn-primary(id="btn-confirm" style="margin-right:10px;") Lưu
			button.btn.btn-danger(id="btn-reset") Nhập lại