extends layoutdoc
block content
	script(src="/js/doctor.js")
	h3 Danh sách lịch khám
	.button-control
	table.table.table-hover.table-exam.display(cellspacing="0" width="100%")
		thead
			tr
				th Bệnh nhân
				th Ngày khám
				th Mô tả
				th Người Khám