html
	head
		title= title
		script(type="text/javascript" , src="/javascripts/jquery-2.1.3.min.js")
		script(type="text/javascript" , src="/javascripts/jquery.validate.min.js")
		script(type="text/javascript" , src="/js/forgot-password.js")
		link(rel='stylesheet', href='/stylesheets/login.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(type='text/javascript', src='/javascripts/sweetalert.min.js')
		link(rel='stylesheet', href='/stylesheets/sweetalert.css')
	body
		.content
			.logo
			form#form-pass.login-form
				.form-group
					input.form-control(type="text" name="email" Placeholder="Nhập email của bạn")
					br
					.col-sm-3
					input.btn.btn-danger.col-sm-6(type="submit" value="Send Mail" name="send")