body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.table.table-condensed thead th{
	text-align: center;
}
.my-error-class
{
	color: #F86969;
}
.table td{text-align: center;}
.table-user input{
	border: none;
	background: #ffffff;
	text-align: center;
	font-size: 14;
}
.sidebar{margin-top: 0px; height: auto;}
.fa-search{background: url('/images/search-icon.png');
width: 14px;
height: 14px;}
#page-wrapper{padding:30px;}
.button-control button{
	margin-left: 5px;
	margin-bottom: 15px;
}
table th{
	text-align: center;
}
table td {text-align: center;}
